<%- include head %>
<div class="info">
    <h1>关于我们</h1>
    <p>blablablablabla</p>
</div>
<div class="banner">
    <img src="images/award/head.jpg">
</div>
</div>
<div class="whit_bg">
    <div class="wr_top">
        <b>关于我们</b>
    </div>
    <div class="wr_about" style="font-size: 28px">
        <p>上海碧歌文化传播有限公司是一家专门以“商务会议、开业庆典、展览促销、拓展活动、生日聚会、高端婚庆婚礼、个人摄影、人物专访、集体大合影、广告专题片、企业宣传片、商务策划等为主营产业的大型影视公司。上海碧歌摄影团队为客户精心策划、设计和传播一流品牌效应。每一个案例，每一位客户，每一次交流，我们都会倾注专业的眼光，都会进行有效的操作和互动性的配合，为客户提供周密完善的工作流程。我们的镜头让时间停下脚步，让故事更加精彩。</p>
        <div style="text-align: center">
            <p>上海碧歌文化传播有限公司</p>
            <p>联系电话：400-9916-962</p>
            <p>QQ：21449298</p>
            <p>邮箱：lucas@biggerphoto.cn</p>
            <p>地址：上海市普陀区石泉路300弄8号</p>
        </div>
    </div>
</div>
<%- include foot.ejs%>
