<%- include head %>
<div class="info">
    <h1>关于我们</h1>
    <p>blablablablabla</p>
</div>
<div class="banner">
    <img src="images/award/head.jpg">
</div>
</div>
<div class="whit_bg">
    <div class="wr_top">
        <b>关于我们</b>
    </div>
</div>
<%- include foot.ejs%>
