<div class="foot_bg">
<div class="foot">
    <div class="foot_wx">
        <img src="images/logo.jpg">
        <p>
            <img/>
        </p>
    </div>
    <div class="foot_tel">
        12345678
    </div>
    <div class="foot_wb">
        <a href="">微博</a>
    </div>
    <div class="foot_nav">
        <a href="/about">
            关于我们
        </a>
        <a href="/partner">
            合作伙伴
        </a>
        <a href="/join">
            加入我们
        </a>
        <a href="/">
            联系我们
        </a>
    </div>
    <div class="foot_ass">
        <b>地址:</b>
        <span>上海市静安区</span>
        <span>石泉路</span>
        <span>101号1001室</span>
    </div>
</div>
<div class="foot_db">
    "碧歌传媒"
</div>
</div>