<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
<!--页眉-->
<head>
    <meta charset="UTF-8">

    <!--jquery-->
    <script src="jquery-dist/jquery.js"></script>

    <!--bootstrap-->
    <script src="bootstrap-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap-dist/css/bootstrap.css"/>

    <!--bootstrap-table-->
    <script src="bootstrap-table-dist/bootstrap-table.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap-table-dist/bootstrap-table.css"/>

    <!--my css-->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet/less" type="text/css" href="stylesheets/style.less">

    <!--less-->
    <script src="less-dist/less.js"></script>

</head>
<body>
<div class="head_bg">
    <div class="head">
        <h1 class="logo"><a>
                <img src="images/logo.jpg" width="140" height="70"/>
            </a>
        </h1>
        <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="/award">会奖管理</a> </li>
            <li><a href="/exhibition">展览展示</a> </li>
            <li><a href="/festival">节庆赛事</a> </li>
            <li><a href="/marketing">整合营销</a> </li>
            <li><a href="/ad">广告工程</a> </li>
            <li><a href="/partner">战略合作</a> </li>
            <li><a href="/join">招贤纳士</a> </li>
        </ul>
    </div>
