<title>碧歌</title>
<% include indexhead.ejs %>
</div>
<div id="fullpage" class="fullpage-wrapper">
    <div class="section">
        <div class="bg">
            <img data-src="images/index/index.jpg">
        </div>
        <div class="arrow">
            <a href="#Page2">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="bg">
            <img data-src="images/index/remarkable.png">
        </div>
        <div class="arrow">
            <a href="#Page3">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="bg">
            <img data-src="images/index/team.png">
        </div>
        <div class="arrow">
            <a href="#Page4">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="bg">
            <img data-src="images/index/trust.png">
        </div>
        <div class="tab_block">
            <div class="tab_tit"></div>
            <div class="tab_box ry">
                <dl>
                    <dd class="current">
                        <h3>2016</h3>
                    </dd>
                    <dt>2015</dt>
                    <dd>
                        <h3>2015</h3>
                    </dd>
                    <dt>2014</dt>
                    <dd>
                        <h3>2014</h3>
                    </dd>
                    <dt>2013</dt>
                    <dd>
                        <h3>2013</h3>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="arrow">
            <a href="#Page5">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="bg">
            <img data-src="images/index/ambition.png">
        </div>
        <div class="map">
            <div id="container" style="position: relative; width: 500px; height: 250px;"></div>
            <script data-info="world map">
                var container = new Datamap({
                    element: document.getElementById('container'),
                    projection: 'mercator',
                    geographyConfig: {
                        popupOnHover: false,
                        highlightOnHover: false
                    },
                    fills : {
                        selected : '#fff',
                        defaultFill: '#444'
                    },
                    data: {
                        "USA": {
                            "fillKey" : "selected"
                        },
                        "RUS": {
                            "fillKey" : "selected"
                        },
                        "ESP": {
                            "fillKey" : "selected"
                        },
                        "CHN": {
                            "fillKey" : "selected"
                        },
                        "JPN":{
                            "fillKey" : "selected"
                        },
                        "GBR": {
                            "fillKey" : "selected"
                        },
                        "KOR": {
                            "fillKey" : "selected"
                        },
                        "IND": {
                            "fillKey" : "selected"
                        }
                    }
                });
                container.bubbles([
                    {
                        radius: 10,
                        fillKey: 'USA',
                        centered: 'USA',
                        name: '美国'
                    },
                    {
                        radius: 10,
                        fillKey: 'RUS',
                        centered: 'RUS',
                        name: '俄罗斯'
                    },
                    {
                        radius: 10,
                        fillKey: 'ESP',
                        centered: 'ESP',
                        name: '西班牙'
                    },
                    {
                        radius: 10,
                        fillKey: 'CHN',
                        centered: 'CHN',
                        name: '中国'
                    },
                    {
                        radius: 10,
                        fillKey: 'JPN',
                        centered: 'JPN',
                        name: '日本'
                    },
                    {
                        radius: 10,
                        fillKey: 'GBR',
                        centered: 'GBR',
                        name: '英国'
                    },
                    {
                        radius: 10,
                        fillKey: 'KOR',
                        centered: 'KOR',
                        name: '韩国'
                    },
                    {
                        radius: 10,
                        fillKey: 'IND',
                        centered: 'IND',
                        name: '印度'
                    }
                ],{
                    popupTemplate: function (geo, data) {
                        return '<div class = "hoverinfo">' + data.name
                    }
                });
            </script>
        </div>
        <div class="arrow">
            <a href="#Page5">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="bg">
            <img data-src="images/index/contact.png">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            //Navigation
            menu:'#menu',
            lockAnchors: false,
            anchors:['Page1','Page2','Page3','Page4','Page5'],
            navigation: true,
            navigationPosition: 'right',
            //navigationTooltips: ['Page1','Page2','Page3','Page4','Page5'],
            showActiveTooltip: false,
            slidesNavigation: true,
            slidesNavPosition: 'bottom'
        });
    });

    window.onresize = resizewindows;
    function resizewindows() {
        var winW = $(window).width();
        if (winW  > 1300){
            $(".head").css({"width":"1200px"});
        }else {
            $(".head").css({"width":"1100px"});
        }

    }
    /*
    $(document).ready(function () {
        var yaxis = 0;
        var scrollFunc = function (e) {
            e = e||window.event;
            var t1 = document.body;
            if (e.wheelDelta){
                t1.value = e.wheelDelta / 120;
            }else if(e.detail){
                t1.value = -e.detail / 3;
            }
            if (t1.value > 0) {
                    yaxis += 967;
            }else if (t1.value < 0 ){
                    yaxis -= 967;
            }
            if (yaxis > 0){
                yaxis = 0
            }else if(yaxis < -5000){
                yaxis += 967;
            }
            $("#fullpage").stop().animate({ borderspacing: yaxis},{
                step: function (now, fx) {
                    $(this).css("transform","translate(0px," + now + "px)");
                    $(this).css("-webkit-transform","translate(0px," + now + "px)");
                    $(this).css("-moz-transform", "translate(0px," + now + "px)");
                },duration: 'slow'
            },'linear');
            console.log(yaxis);
            console.log(t1.value);
        }
        if(document.addEventListener){
            document.addEventListener("DOMMouseScroll", scrollFunc, false);
        }
        window.onmousesheel=document.onmousewheel=scrollFunc;
    })
    */

</script>
<script src="javascripts/bootstrap-hover-tabs.js"></script>