<%- include head %>
<div class="info">
    <h1>招贤纳士</h1>
    <p>blablablablabla</p>
</div>
<div class="banner">
    <img src="images/award/head.jpg">
</div>
</div>
<div class="whit_bg">
    <div class="wr_top">
        <b>招贤纳士</b>
    </div>

</div>
<%- include foot.ejs%>
