<title>合作伙伴</title>
<%- include head %>
<div class="info">
    <h1>战略合作</h1>
    <hr>
    <p>上海部分星级酒店是我们的战略合作伙伴，共同为客户提供专业、优质、高效的会展与会奖旅游服务。随着我们的不断发展，战略合作伙伴也不断的增加，同行的队伍也越来越壮大。</p>
</div>
<div class="banner">
    <img src="images/partner/banner.png">
</div>
</div>
<div class="whit_bg">
    <div class="wr_top">
        <b>战略合作</b>
    </div>
    <div class="wr_about">
        <ul  class="nav nav-pills" id="tabtit">
            <li class="active"><a href="#partner" data-toggle="tab">合作伙伴</a> </li>
            <li><a href="#hotel" data-toggle="tab">合作酒店</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="partner">
                <ul class="list">
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz01.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>宝马</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz02.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>惠普</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz03.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>拜耳</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz04.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>福特</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz05.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>格力</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz06.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>康泰国旅</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz07.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>可口可乐</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz08.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>雷克萨斯</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz09.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>联想</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz10.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>麦当劳</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz11.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>通用五菱</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-box">
                            <img src="images/partner/img_hz12.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>腾讯</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="hotel">
                <ul class="listh">
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht01.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海思南公馆酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht02.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海柏悦酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht03.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海迪士尼乐园酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht04.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海浦东丽思卡尔顿酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht05.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海朱家角安麓酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht06.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海新天地安达仕酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht07.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海浦东文华东方酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht08.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海新天地朗廷酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht09.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海半岛酒店</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show-hotel">
                            <img src="images/partner/img_ht10.jpg">
                            <div class="subtitle">
                                <span></span>
                                <p>上海国金汇酒店</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(".show-box").each(function(){
        var self = $(this), delay;
        self.mouseover(function(){
            delay = setTimeout(function(){ delay = null; self.find(".subtitle").stop().animate({"bottom":0}, 190);},80);
        }).mouseout(function(){
            if(delay){
                clearTimeout(delay);
            }else{
                setTimeout(function(){self.find(".subtitle").stop().animate({"bottom":-190}, 190);},80);
            }
        });
    });
    $('.show-hotel').each(function () {
        var self= $(this), delay;
        self.mouseover(function () {
            delay = setTimeout(function () {
                delay = null;
                self.find(".subtitle").stop().animate({"bottom":0},190);
                }, 80);
            }).mouseout(function () {
                if(delay){
                    clearTimeout(delay);
                }else {
                    setTimeout(function () {
                        self.find(".subtitle").stop().animate({"bottom": -375}, 190);
                    }, 80);
                }
        });
    });
    $(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var activeTab = $(e.target).text();
            var previousTab = $(e.relatedTarget).text();
            $(".active-tab span").html(activeTab);
            $(".previous-tab span").html(previousTab);
        })
    })

</script>
<%- include foot.ejs%>